*, *::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}
#homepage{
    overflow-y: hidden;
}
img{
    display: block;
}

.floater{
    float: left;
    margin: 5px 20px 5px 5px;
}
.homepage-header a{
    height: fit-content;
    border: 1px solid transparent;
}
header{
    border-bottom: 2px solid #333;
    padding: 10px;
}
header h1{
    margin: 0px;
}
.homepage-header{
    padding-bottom: 10px;
}
.homepage-header img{
    width: 200px;
    height: 200px;
    align-self: center;
    border: 1px solid black
}
.homepage-header p{
    max-width: 800px;
}

nav{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    width: 100%;
}
.nav-div{
    max-width: 600px;
    display: flex;
}
a{
    color: green;
    border: 1px solid transparent; 
}
.frame-link{
    pointer-events: none;
}
nav a{
    text-decoration: none;
    color: green;
    padding: 5px;
    border: 1px solid transparent;
}
a:hover{
    border: 1px solid seagreen;
    background-color: white;
}
#frame-holder{
    overflow-y: scroll;
    min-height: 75vh;
    max-height: 75vh;
    width: 100%;
}
main{
    padding: 10px;
}
iframe{
    padding: 0;
}
q{
    font-style: italic;
}
section{
    max-width: 800px;
    margin-bottom: 100px;
}

@media (max-width: 800px) {
    .homepage-header img{
        width: 150px;
        height: 150px;
    }
}