<body>
    <header>
        <nav>
          <a href="/">🏠 Homepage</a>
          <a href='/page/portfolio'>💻 Programming</a>
          <a href='/page/travels'>🌍 Travels</a>
          <a href='/page/fitness'>💪 Fitness</a>
          <a href='/page/book'>📕 Book</a>
          <a href='/en/articles'>📝 Posts</a>
          <a href='/page/contact'>📩 Message me</a>
          <a href="#" onclick="toggle_theme()" id="theme-toggler">Theme: dark</a>
        </nav>
  </header>
  <script src="/scripts/themeMode.js" onload="check_theme();"></script>
    <main>
        <section>
            <h1 id="title">{{= title }}</h1>
            {{ content }}
        </section>
    </main>
</body>